<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - E Commerce Web Application</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/E_Commerce_Web_Application.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light px-3">
            <a class="navbar-brand" href="/">E-Shop</a>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Product" asp-action="Index">Products</a>
                    </li>
                    @if (Context != null && Context.Session.GetInt32("UserId") != null && Context.Session.GetString("UserRole") == "Admin")
                    {
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Admin" asp-action="Users">Users</a>
                        </li>
                    }
                </ul>
                <ul class="navbar-nav ms-auto">
                    @if (Context != null && Context.Session.GetInt32("UserId") != null)
                    {
                        <li class="nav-item">
                            <span class="nav-link">Welcome, @Context.Session.GetString("UserRole")</span>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-danger" asp-action="Logout" asp-controller="User">Logout</a>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            <a class="nav-link" asp-action="Login" asp-controller="User">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-action="Register" asp-controller="User">Register</a>
                        </li>
                    }
                </ul>


            </div>
        </nav>

    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - E Commerce Web Application
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
